body {
    padding: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: rgb(34, 35, 46);
    color: rgb(217, 210, 210);
  }
  
  * {
    padding: 0 auto;
  }

  #root {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  